
<div class="container__home">
  <app-menu-bar></app-menu-bar>

  <section class="home__principal-section">
    <app-menu-title></app-menu-title>

    <div class="principal-section__content">
      <div class="content__left">
        <app-principal-card-vertical></app-principal-card-vertical>
      </div>

      <div class="content__right">

        <app-small-card-horizontal></app-small-card-horizontal>
        <app-small-card-horizontal></app-small-card-horizontal>
        <app-small-card-horizontal></app-small-card-horizontal>
      </div>
    </div>
  </section>

  <section class="home__special-section">
    <span>CURSOS EM DESTAQUES</span>

    <div class="content__cards">
      <app-big-card-vertical></app-big-card-vertical>
      <app-big-card-vertical></app-big-card-vertical>
      <app-big-card-vertical></app-big-card-vertical>
      <app-big-card-vertical></app-big-card-vertical>
    </div>
  </section>

  <app-highlight-section></app-highlight-section>

  <section class="home__publication-section">
    <span>Publicacoes Famosas</span>

    <div class="content__cards">
      <app-small-card-vertical></app-small-card-vertical>
      <app-small-card-vertical></app-small-card-vertical>
      <app-small-card-vertical></app-small-card-vertical>
      <app-small-card-vertical></app-small-card-vertical>
    </div>
  </section>

  <app-highlight-section></app-highlight-section>

  <div class="home__last-section">
    <div class="last-section-left">
      <span>Todos Os Artigos</span>

      <div class="cards-articles">
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
        <app-medium-card-horizontal></app-medium-card-horizontal>
      </div>
    </div>

    <div class="last-section-right"></div>
  </div>

</div>
