<div class="container__menu-bar">
  <div class="menu-bar__left-content">
    <img src="../../../assets/D_logo.svg" alt="">

    <nav>
      <ul>
        <li><a href="#">LEARN</a></li>
        <li><a href="#">FREE COURSES</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </nav>
  </div>

  <div class="menu-bar__right-content">
    <nav>
      <ul>
        <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
        <li><a href="#"><i class="bi bi-threads"></i></a></li>
      </ul>
    </nav>
  </div>


</div>
